* {
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
main {
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    margin: auto;
    background-image: url(images/bg-pattern-bottom-mobile.svg),url(images/bg-pattern-top-mobile.svg);
    background-repeat: no-repeat;
    background-position:left;
    background-size:cover;
    padding:1rem;
}

.top {
    margin:auto;
    max-width: 100%;    
}

.top-left {
   color:hsl(300, 43%, 22%);
   display:flex;
   flex-direction: column;
   font-size:1.5rem;
   font-weight: 700;
   justify-content: center;
   align-items: center;
   text-align: center;
   max-width:100%;
}

.top-left p {
    color:hsl(303, 10%, 53%);
    font-weight:200;
    font-size:1rem;
}

.top-right {
    flex-direction: column;
    margin:0;
    margin-bottom:1rem;
  }

.top-right h2 {
    color:hsl(300, 43%, 22%);
    font-weight:bold;
    font-size:1rem;
  }

  .guru, .besttech, .reviews {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    text-align: center;
    background-color: hsl(300, 24%, 96%);
    border-radius:10px;
    margin: 0;
    margin-bottom: 1rem;
  }

  .stars {
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;;
    margin:0;
    margin-top:0.5rem;
  }

.bottom {
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
}

.smith , .roberts , .wallace {
    background-color: hsl(300, 43%, 22%);
    border-radius: 0.75rem;  
    color: white;
    margin-bottom: 1rem;
    padding: 2rem;
 }


.profile {
    display:flex;
    align-items:center;
}

.profile h3 {
    margin:0;
}


.image img {
 border-radius:50%;
 max-width: 2rem;
 height:2rem;
 margin-right:1rem;

}
  
.bottom span {
    color: hsl(333, 80%, 67%);
    font-size: 0.7rem; 
  }

.summary {
    margin-top:1rem;
    line-height:1rem;
}
   

@media only screen and (min-width:50rem) {

    .top {
        display:flex;
        flex-direction:row; 
        max-width:100%;
        justify-content: space-between;
        margin:0;
    }

    .top-left {
        text-align: left;
        max-width: 50%;
    }

    .top-left h1 {
        margin-right:3rem;
    }

    .reviews, .guru , .besttech {
        display:flex;
        flex-direction:row;
        justify-content: flex-start;
        align-items:center;
        padding:0.5rem 2rem;
       
    }

    .stars {
        margin-right:1rem;
        margin-bottom:0.5rem;
    }
  
    .bottom {
       display:grid;
       grid-template-columns: repeat(3,1fr);
       grid-template-rows: repeat(3,1fr);
       gap:2rem;
       margin:0;  
    }

    .smith {
        margin-bottom:2rem;
    }

    .roberts {
        margin-top:1rem;
        margin-bottom:1rem;
    }

    .wallace {
        margin-top:2rem;
        margin-bottom:-0.5rem;
    }
    
    .reviews {
        margin-right:3rem;
    }
    .guru {
        margin-left:2rem;
        margin-right:1rem;
        
    }

    .besttech {
        margin-left:4rem;  
    }
    
}


    

  